# Managing data in R

In [91]:
x=0
y=0
student <- data.frame(roll.no = c(1:4), student.name = c("A","B","C","D"))

In [92]:
save(list = c("student","x","y"), file = "student1.RData")

In [93]:
rm(student,x,y)

In [94]:
load("student1.RData") # saves environment variable

In [95]:
source("example.R") # loads code from file

In [96]:
sink("./record.txt") # Divert output to file "record.txt"
o1 <- 35
o2 <- 36
print("Output diverted to file")
print("o1*o2")

[1] "Output diverted to file"
[1] "o1*o2"

In [97]:
sink()
o1-o2

[1] -1

#### Importing files in R

In [98]:
# Read excel data
library(xlsx)

In [99]:
F.statistic <- read.xlsx("./F-statistic.xlsx", sheetIndex = 1, header = TRUE) # dot represents the working directory
head(F.statistic)

  TSS RSS TSS.RSS n  p n.p.1 X.TSS.RSS..p RSS..n.p.1. X1.col.H. F.Statistic
1 100 50  50      50 1 48    50.00000     1.0416667   0.960000  48.00000
2 100 30  70      50 2 47    35.00000     0.6382979   1.566667  54.83333
3 100 25  75      50 3 46    25.00000     0.5434783   1.840000  46.00000
4 100 24  76      50 3 46    25.33333     0.5217391   1.916667  48.55556
5 100 23  77      50 3 46    25.66667     0.5000000   2.000000  51.33333
6 100 22  78      50 3 46    26.00000     0.4782609   2.090909  54.36364

In [100]:
#Import file using data.table
empdata<-read.table("EMP.csv", sep=",")
head(empdata)

  V1          V2         V3        V4       V5           V6        V7
1 EMPLOYEE_ID FIRST_NAME LAST_NAME EMAIL    PHONE_NUMBER HIRE_DATE JOB_ID
2 100         Steven     King      SKING    515.123.4567 17-JUN-87 AD_PRES
3 101         Neena      Kochhar   NKOCHHAR 515.123.4568 21-SEP-89 AD_VP
4 102         Lex        De Haan   LDEHAAN  515.123.4569 13-JAN-93 AD_VP
5 103         Alexander  Hunold    AHUNOLD  590.423.4567 03-JAN-90 IT_PROG
6 104         Bruce      Ernst     BERNST   590.423.4568 21-MAY-91 IT_PROG
  V8     V9         V10
1 SALARY MANAGER_ID DEPARTMENT_ID
2 24000             90
3 17000  100        90
4 17000  100        90
5 9000   102        60
6 6000   103        60

In [101]:
# Explor ata from R
write.xlsx(F.statistic,"./F-statistic.xlsx",sheetName = "Sheet2",append=TRUE) #Done

In [102]:
write.table(empdata, file = "./EMP1.txt", sep = "|", col.names = TRUE) #Done

In [103]:
write.csv(empdata, file = "./EMP1.csv") #Done

In [104]:
#readRDS

In [105]:
#dataframe each row is list
x <- list(a=1:5, b = rnorm(10))
#set.seed(1) will keep andom numbers same, rnorm(10) will generate 10 random uniform values
x[[1]] #to access list elements
x[[2]]

[1] 1 2 3 4 5

 [1] -0.1822183 -0.5497586 -0.3851781 -0.4033893  0.4690715 -0.4094607
 [7] -1.8028539 -2.3237149  0.5028002  0.9472481

#### lapply

In [106]:
mean(x) # mean cannot be applied on list type of datastructure

Warning message in mean.default(x):
"argument is not numeric or logical: returning NA"

[1] NA

In [108]:
# lapply always return list, its kind of for loop
lapply(x, mean)

$a
[1] 3

$b
[1] -0.4137454

In [109]:
lapply(x,median)

$a
[1] 3

$b
[1] -0.3942837

In [110]:
lapply(x,range)

$a
[1] 1 5

$b
[1] -2.3237149  0.9472481

In [111]:
lapply(x,sqrt) #NaN for negative values

Warning message in FUN(X[[i]], ...):
"NaNs produced"

$a
[1] 1.000000 1.414214 1.732051 2.000000 2.236068

$b
 [1]       NaN       NaN       NaN       NaN 0.6848880       NaN       NaN
 [8]       NaN 0.7090841 0.9732667

In [112]:
?runif
x <- 1:4
x
lapply(x,runif) # lapply is kind of for loop

[1] 1 2 3 4

[[1]]
[1] 0.07010671

[[2]]
[1] 0.1257364 0.2725117

[[3]]
[1] 0.69965778 0.02230429 0.20694519

[[4]]
[1] 0.9452701 0.1069262 0.1681423 0.1468065

In [113]:
lapply(x,runif,0,5) # default random generation range is 0 to 1, this tells to generate 0 to 5

[[1]]
[1] 3.942281

[[2]]
[1] 4.323398 2.245525

[[3]]
[1] 1.8452105 4.6695869 0.3113848

[[4]]
[1] 3.5125655 1.4674175 0.7900709 4.2996393

#### sapply

In [136]:
x <- list(a=1:5, b = rnorm(10))

[1] "list"

In [115]:
sapply(x,mean) # vector is returned

          a           b
 3.00000000 -0.04547225

In [116]:
sapply(x,range) # matrix is returned

     a b
[1,] 1 -2.307319
[2,] 5  1.848734

In [117]:
sapply(x,sqrt) # List is returned

Warning message in FUN(X[[i]], ...):
"NaNs produced"

$a
[1] 1.000000 1.414214 1.732051 2.000000 2.236068

$b
 [1]      NaN      NaN      NaN 1.359682      NaN      NaN      NaN      NaN
 [9] 1.185471 1.050742

#### vapply

In [151]:
fivenum(x$b)

[1] -0.04743369  0.43890727  0.71436685  1.15429161  2.58263989

In [133]:
?vapply

In [152]:

vapply(x, fivenum, c(Min. = 0, "1st Qu. " = 0, Median = 0, "3rd Qu. " = 0, Max. = 0))

         a b
Min.     1 -0.04743369
1st Qu.  2  0.43890727
Median   3  0.71436685
3rd Qu.  4  1.15429161
Max.     5  2.58263989

#### apply

In [71]:
# apply is used to evaluate a function over margines of an array
x <- matrix((1:50),10,5)
x

      [,1] [,2] [,3] [,4] [,5]
 [1,]  1   11   21   31   41
 [2,]  2   12   22   32   42
 [3,]  3   13   23   33   43
 [4,]  4   14   24   34   44
 [5,]  5   15   25   35   45
 [6,]  6   16   26   36   46
 [7,]  7   17   27   37   47
 [8,]  8   18   28   38   48
 [9,]  9   19   29   39   49
[10,] 10   20   30   40   50

In [72]:
apply(x,2,mean) # 1 means rows and 2 mens columns

[1]  5.5 15.5 25.5 35.5 45.5

In [74]:
apply(x,1,mean)

 [1] 105 110 115 120 125 130 135 140 145 150

In [75]:
y <- array((1:40),c(2,2,10)) #c(2,2,10) is diamention row, column, pages
y

, , 1

     [,1] [,2]
[1,]    1    3
[2,]    2    4

, , 2

     [,1] [,2]
[1,]    5    7
[2,]    6    8

, , 3

     [,1] [,2]
[1,]    9   11
[2,]   10   12

, , 4

     [,1] [,2]
[1,]   13   15
[2,]   14   16

, , 5

     [,1] [,2]
[1,]   17   19
[2,]   18   20

, , 6

     [,1] [,2]
[1,]   21   23
[2,]   22   24

, , 7

     [,1] [,2]
[1,]   25   27
[2,]   26   28

, , 8

     [,1] [,2]
[1,]   29   31
[2,]   30   32

, , 9

     [,1] [,2]
[1,]   33   35
[2,]   34   36

, , 10

     [,1] [,2]
[1,]   37   39
[2,]   38   40

In [76]:
apply(y, c(1,2),sum) #sum of both rows and columns, row:columns - 1:1,1:2,2:1,2:2
apply(y,3,mean) #sum over pages

     [,1] [,2]
[1,] 190  210
[2,] 200  220

 [1]  2.5  6.5 10.5 14.5 18.5 22.5 26.5 30.5 34.5 38.5

#### tapply

In [80]:
x <- c(runif(5,150,170), runif(5,160,180))
x
f <- c(rep("F",5),rep("M",5))
f
tapply(x,f,mean,simplify = TRUE) #tapply(x,INDEX,FUN,simplyfy)

 [1] 165.5468 166.6702 163.8668 150.3777 161.6415 177.5199 175.4529 162.4032
 [9] 168.2594 174.1515

 [1] "F" "F" "F" "F" "F" "M" "M" "M" "M" "M"

ERROR while rich displaying an object: Error in dn[[2L]]: subscript out of bounds

Traceback:
1. FUN(X[[i]], ...)
2. tryCatch(withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler), error = outer_handler)
3. tryCatchList(expr, classes, parentenv, handlers)
4. tryCatchOne(expr, names, parentenv, handlers[[1L]])
5. doTryCatch(return(expr), name, parentenv, handler)
6. withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler)
7. mime2repr[[mime]](obj)
8. repr_markdown.numeric(obj)
9. repr_vector_generic(html_escape_names(obj), "%s. %s\n", "%s\n:   %s",
 .     "**%s:** %s", "%s\n\n", item_uses_numbers = TRUE, escape_fun = html_escape)
10. html_escape_names(obj)
11. .escape_names(obj, "html")
12. colnames(obj)
ERROR while rich displaying an object: Error in dn[[2L]]: subscript out of bounds

Traceback:
1. FUN(X[[i]], ...)
2. tryCatch(withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler), error = outer_handler)
3. tryCatchList(expr, classes, parentenv, handlers)
4. tryCatchOne(expr, names, parentenv, handlers[[1L]])
5. doTryCatch(return(expr), name, parentenv, handler)
6. withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler)
7. mime2repr[[mime]](obj)
8. repr_latex.numeric(obj)
9. repr_vector_generic(latex_escape_names(obj), "\\item %s\n", "\\item[%s] %s\n",
 .     "\\textbf{%s:} %s", enum_wrap = "\\begin{enumerate*}\n%s\\end{enumerate*}\n",
 .     named_wrap = "\\begin{description*}\n%s\\end{description*}\n",
 .     only_named_item = "\\textbf{%s:} %s", escape_fun = latex_escape)
10. latex_escape_names(obj)
11. .escape_names(obj, "latex")
12. colnames(obj)

       F        M
161.6206 171.5574

#### mapply

In [84]:
mapply(rep, c(1,2),c(1,2)) #multivariate apply - multiple x

function (x, ...)  .Primitive("rep")

[[1]]
[1] 1

[[2]]
[1] 2 2

In [82]:
# 1 - 4 times
# 2 - 3
# 3 - 2
# 4 - 1

x <- mapply(rep, 1:4, 4:1)
x
y <- list(1:10, 11:20)
y
mapply(sum,x,y)

[[1]]
[1] 1 1 1 1

[[2]]
[1] 2 2 2

[[3]]
[1] 3 3

[[4]]
[1] 4

[[1]]
 [1]  1  2  3  4  5  6  7  8  9 10

[[2]]
 [1] 11 12 13 14 15 16 17 18 19 20

[1]  59 161  61 159

In [85]:
mapply(seq,c(5,6),c(10,20),c(0.5,1))
#start with 5 end at 10 increment by 0.5
#start with 6 end at 20 increment by 1

[[1]]
 [1]  5.0  5.5  6.0  6.5  7.0  7.5  8.0  8.5  9.0  9.5 10.0

[[2]]
 [1]  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20