In [2]:
library(ISLR)

In [3]:
library(data.table)

In [8]:
data(Hitters)
names(Hitters)
str(Hitters) # character will be converted into factor
head(Hitters)
#?Hitters

 [1] "AtBat"     "Hits"      "HmRun"     "Runs"      "RBI"       "Walks"
 [7] "Years"     "CAtBat"    "CHits"     "CHmRun"    "CRuns"     "CRBI"
[13] "CWalks"    "League"    "Division"  "PutOuts"   "Assists"   "Errors"
[19] "Salary"    "NewLeague"

'data.frame':	322 obs. of  20 variables:
 $ AtBat    : int  293 315 479 496 321 594 185 298 323 401 ...
 $ Hits     : int  66 81 130 141 87 169 37 73 81 92 ...
 $ HmRun    : int  1 7 18 20 10 4 1 0 6 17 ...
 $ Runs     : int  30 24 66 65 39 74 23 24 26 49 ...
 $ RBI      : int  29 38 72 78 42 51 8 24 32 66 ...
 $ Walks    : int  14 39 76 37 30 35 21 7 8 65 ...
 $ Years    : int  1 14 3 11 2 11 2 3 2 13 ...
 $ CAtBat   : int  293 3449 1624 5628 396 4408 214 509 341 5206 ...
 $ CHits    : int  66 835 457 1575 101 1133 42 108 86 1332 ...
 $ CHmRun   : int  1 69 63 225 12 19 1 0 6 253 ...
 $ CRuns    : int  30 321 224 828 48 501 30 41 32 784 ...
 $ CRBI     : int  29 414 266 838 46 336 9 37 34 890 ...
 $ CWalks   : int  14 375 263 354 33 194 24 12 8 866 ...
 $ League   : Factor w/ 2 levels "A","N": 1 2 1 2 2 1 2 1 2 1 ...
 $ Division : Factor w/ 2 levels "E","W": 1 2 2 1 1 2 1 2 2 1 ...
 $ PutOuts  : int  446 632 880 200 805 282 76 121 143 0 ...
 $ Assists  : int  33 43 82 11 40 421 127 283 290 0 ...
 $ Errors   : int  20 10 14 3 4 25 7 9 19 0 ...
 $ Salary   : num  NA 475 480 500 91.5 750 70 100 75 1100 ...
 $ NewLeague: Factor w/ 2 levels "A","N": 1 2 1 2 2 1 1 1 2 1 ...

                  AtBat Hits HmRun Runs RBI Walks Years CAtBat CHits CHmRun
-Andy Allanson    293    66   1    30   29  14     1     293     66    1
-Alan Ashby       315    81   7    24   38  39    14    3449    835   69
-Alvin Davis      479   130  18    66   72  76     3    1624    457   63
-Andre Dawson     496   141  20    65   78  37    11    5628   1575  225
-Andres Galarraga 321    87  10    39   42  30     2     396    101   12
-Alfredo Griffin  594   169   4    74   51  35    11    4408   1133   19
                  CRuns CRBI CWalks League Division PutOuts Assists Errors
-Andy Allanson     30    29   14    A      E        446      33     20
-Alan Ashby       321   414  375    N      W        632      43     10
-Alvin Davis      224   266  263    A      W        880      82     14
-Andre Dawson     828   838  354    N      E        200      11      3
-Andres Galarraga  48    46   33    N      E        805      40      4
-Alfredo Griffin  501   336  194    A      W        282     421     25
                  Salary NewLeague
-Andy Allanson       NA  A
-Alan Ashby       475.0  N
-Alvin Davis      480.0  A
-Andre Dawson     500.0  N
-Andres Galarraga  91.5  N
-Alfredo Griffin  750.0  A

In [9]:
hitters1=data.frame(Hitters) # convert to data frame

In [10]:
mean(hitters1$Salary) # Salary has NA

[1] NA

In [11]:
sd(hitters1$Salary) # Salary has NA

[1] NA

In [12]:
table(is.na(hitters1$Salary)) # check number of NA's

FALSE  TRUE
  263    59

In [13]:
hitters1=na.omit(hitters1) # removes rows with NA

In [14]:
table(is.na(hitters1$Salary))

FALSE
  263

In [22]:
# add one more categorical variable salary1 with value ("L","M","H")
Salary1 <- cut (hitters1$Salary, breaks = 3, labels = c("L","M","H"))
hitters1<-cbind(hitters1,Salary1)
head(hitters1)

n <- length(hitters1$Salary1)
n

                  AtBat Hits HmRun Runs RBI Walks Years CAtBat CHits CHmRun ...
-Alan Ashby       315    81   7    24   38  39    14    3449    835   69    ...
-Alvin Davis      479   130  18    66   72  76     3    1624    457   63    ...
-Andre Dawson     496   141  20    65   78  37    11    5628   1575  225    ...
-Andres Galarraga 321    87  10    39   42  30     2     396    101   12    ...
-Alfredo Griffin  594   169   4    74   51  35    11    4408   1133   19    ...
-Al Newman        185    37   1    23    8  21     2     214     42    1    ...
                  Errors Salary NewLeague Salary1 Salary1.1 Salary1.2 Salary1.3
-Alan Ashby       10     475.0  N         L       L         L         L
-Alvin Davis      14     480.0  A         L       L         L         L
-Andre Dawson      3     500.0  N         L       L         L         L
-Andres Galarraga  4      91.5  N         L       L         L         L
-Alfredo Griffin  25     750.0  A         L       L         L         L
-Al Newman         7      70.0  A         L       L         L         L
                  Salary1.4 Salary1.5 Salary1.6
-Alan Ashby       L         L         L
-Alvin Davis      L         L         L
-Andre Dawson     L         L         L
-Andres Galarraga L         L         L
-Alfredo Griffin  L         L         L
-Al Newman        L         L         L

[1] 263

## Universal Analysis

#### Qualitative (Catagorical) Data - Neumerical Analysis

In [23]:
#count
table(hitters1$Salary1)

  L   M   H
216  37  10

In [24]:
#Proporation
prop.table(table(hitters1$Salary1))

         L          M          H
0.82129278 0.14068441 0.03802281

In [25]:
#Percentage
prop.table(table(hitters1$Salary1))*100

        L         M         H
82.129278 14.068441  3.802281

In [6]:
data(mtcars)
?mtcars